/*
filename: [style.css]
author: [Sujaya, Jayden]
created: [31/03/2023]
last modified: [24/04/2023]
description: [All related css for topic.html, index.html and quiz.html]
*/



                                                          /* CSS for the body */

body
{
    margin: 0px;
    background-color: #000000;
    background-attachment: fixed;
    background-size: cover;
}

/*css for the index.html page*/
#body-index{
    margin: 0px;
    background-color: #000000;
    background-image: url("images/backgroundruby.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

body.quiz 
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%232a0000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23540001' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%237e0001' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23a80002' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23D20002' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
}

body.topic 
{
    background-image: url(images/TopicBG.jpg)
}

* 
{
    box-sizing: border-box;
    font-family: arial;
    color: white;
}

a 
{
    text-decoration: none;
}

#logo
{
    border: 1px solid black;
    border-radius: 50%;
    height: 75px;
    width:75px;
}

figcaption
{
 padding-left: 160px;
}

div a
{
    color: white;
}

nav 
{
    width: 100%;
    color: white;
}

.nav-section 
{
    padding: 1rem 2rem;
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
    backdrop-filter:blur(15px);
    
}

#nav-link-section 
{
    column-gap: calc(100%/4);
    padding-left: 100px;
    padding-right: 250px;
}


                                                          /* CSS for All text */

h1
{
    font: 75px sans-serif normal;
}

aside
{
    width: 30%;
    float: right;
    border: 2px solid white;
    padding: 5px;
    margin-top: 20px;
    margin-right: 100px;
}                                                     

                                                                    /* CSS for Menu */

/* CSS for Buttons*/

.menu 
{
  padding: 1em 2em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.menu:hover 
{
  background-color: #ffcccb;
  box-shadow: 0px 15px 20px rgba(199, 237, 222, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.menu:active 
{
  transform: translateY(-1px);
}


.banner
{ 
  font-family: gotham;
  width: 100%;
  font-size: 50px;
  color: white;
  padding-top: 100px;
  text-align: center;
}





.main-text
{
  width: 1000px;
  font-size: 20px;
  text-align: center;
  margin-left: 350px;
  margin-top: 5px;
  margin-bottom: 300px;
  margin-right:500px; 

}


.cta 
{
position: relative;
margin: auto;
padding: 12px 18px;
transition: all 0.2s ease;
border: none;
background: none;
}

.cta:before 
{
content: "";
position: absolute;
top: 0;
left: 0;
display: block;
border-radius: 50px;
background: #A42024;
width: 45px;
height: 45px;
transition: all 0.3s ease;
}

.cta span 
{
position: relative;
font-family: "Ubuntu", sans-serif;
font-size: 15px;
font-weight: 700;
letter-spacing: 0.05em;
color: white;
}

.cta svg 
{
position: relative;
top: 0;
margin-left: 10px;
fill: none;
stroke-linecap: round;
stroke-linejoin: round;
stroke: #E6BBBB;
stroke-width: 2;
transform: translateX(-5px);
transition: all 0.3s ease;
}

.cta:hover:before 
{
width: 100%;
background: #A42024;
}

.cta:hover svg 
{
transform: translateX(0);
}

.cta:active 
{
transform: scale(0.95);
}






/* CSS for Drop Down List */

select 
{
    color: #000000;
}


/* CSS for Text Area */

.textarea
{
    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width: 300px;
    height: 100px;
    transition: all 0.2s;
}

.textarea:hover
{
    cursor: pointer;
    background-color: #eeeeee;
}

.textarea:focus
{
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #333333;
}


/* CSS for Radio Buttons*/ 

.container form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.container label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}

.container  label input {
  position: absolute;
  left: -9999px;
}

.container label input:checked + span {
  background-color: #b20002;
  color: white;
}

.container label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #000000;
}

.container label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  color: #ffffff;
}

.container label span:hover {
  background-color: #d6d6e5;
}

.container label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}


/* CSS for TextBox */

.input {
  width: 100%;
  max-width: 200px;
  height: 10px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  color: #000000 
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}


/* CSS for Checkboxes */

.cl-checkbox 
{
 position: relative;
 display: inline-block;
}

/* Input */
.cl-checkbox > input 
{
 appearance: none;
 -moz-appearance: none;
 -webkit-appearance: none;
 z-index: -1;
 position: absolute;
 left: -10px;
 top: -8px;
 display: block;
 margin: 0;
 border-radius: 50%;
 width: 40px;
 height: 40px;
 background-color: rgba(0, 0, 0, 0.6);
 box-shadow: none;
 outline: none;
 opacity: 0;
 transform: scale(1);
 pointer-events: none;
 transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.cl-checkbox > span 
{
 display: inline-block;
 width: 100%;
 cursor: pointer;
}

/* Box */
.cl-checkbox > span::before 
{
 content: "";
 display: inline-block;
 box-sizing: border-box;
 margin: 3px 11px 3px 1px;
 border: solid 2px;
 /* Safari */
 border-color: rgba(0, 0, 0, 0.6);
 border-radius: 2px;
 width: 18px;
 height: 18px;
 vertical-align: top;
 transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.cl-checkbox > span::after 
{
 content: "";
 display: block;
 position: absolute;
 top: 3px;
 left: 1px;
 width: 10px;
 height: 5px;
 border: solid 2px transparent;
 border-right: none;
 border-top: none;
 transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.cl-checkbox > input:checked,
.cl-checkbox > input:indeterminate 
{
 background-color: #b20002;
}

.cl-checkbox > input:checked + span::before,
.cl-checkbox > input:indeterminate + span::before 
{
 border-color: #ffffff;
 background-color: #000000;
}

.cl-checkbox > input:checked + span::after,
.cl-checkbox > input:indeterminate + span::after 
{
 border-color: #fff;
}

.cl-checkbox > input:indeterminate + span::after 
{
 border-left: none;
 transform: translate(4px, 3px);
}

/* Hover, Focus */
.cl-checkbox:hover > input 
{
 opacity: 0.04;
}

.cl-checkbox > input:focus 
{
 opacity: 0.12;
}

.cl-checkbox:hover > input:focus 
{
 opacity: 0.16;
}

/* Active */
.cl-checkbox > input:active 
{
 opacity: 1;
 transform: scale(0);
 transition: transform 0s, opacity 0s;
}

.cl-checkbox > input:active + span::before 
{
 border-color: #000000;
}

.cl-checkbox > input:checked:active + span::before 
{
 border-color: transparent;
 background-color: rgba(0, 0, 0, 0.6);
}

/* Disabled */
.cl-checkbox > input:disabled 
{
 opacity: 0;
}

.cl-checkbox > input:disabled + span 
{
 color: rgba(0, 0, 0, 0.38);
 cursor: initial;
}

.cl-checkbox > input:disabled + span::before 
{
 border-color: currentColor;
}

.cl-checkbox > input:checked:disabled + span::before,
.cl-checkbox > input:indeterminate:disabled + span::before 
{
 border-color: transparent;
 background-color: currentColor;
}


/* Submit and reset buttons */

.button_submit:hover, .feed-form input:hover 
{
  transform: scale(1.009);
  box-shadow: 0px 0px 3px 0px #212529;
}

.button_submit 
{
  width: 75px;
  height: 40px;
  font-size: 14px;
  color: white;
  background: #000000;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  text-align: center;
}


                                                          /* CSS for The Footer */ 


.footer
{
    margin-top: 25px;
    width: 100%;
    padding: 100px 15%;
    background-color: #000000;
    color: #efefef;
    display: flex;
    font-style: italic;
    justify-content: center;
}

.footer div
{
    text-align: center; 
}

.footer div h3
{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a
{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}

#footer-input
{
  color: black;
}

#footer-submit:hover
{
  background-color: #d20002;

}

.team
{
    background-image: url(images/FooterBG.jpg)
        
}

.images
{
    display: block;
    width: 500px;
    height: 350px;
}


/*CSS for the enhancement.html page*/

.body-enhancement{
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(183,622,297)'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23D20002'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.09'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.main-enhancement{
  height: 500px;
}

#heading-enhancement{
  text-align: center;
  margin-top: 30px;
}

.para-enhancement{
  text-align: center;
  margin-top: 30px;;
}

.text-enhancement{
  margin-left: 15%;
  margin-right: 15%;
}

.list-enhancement{
  margin-top: 15px;
}